# Dependencies
node_modules/

# OS files
.DS_Store

# Editor files
*.swp
*.swo
*~

# Temporary files
drafts/tmp/

# Release artifacts
*.skill
dist/

# Claude plugin config
.claude-plugin/

# OMC state
.omc/

# Ignore all plugins except edge-delivery-services
plugins/*
!plugins/aem/
plugins/aem/*
!plugins/aem/edge-delivery-services/

plugins/aem/edge-delivery-services/skills/customer-pov/output/*
plugins/aem/edge-delivery-services/skills/customer-pov/scripts/*
plugins/aem/edge-delivery-services/skills/migration-score/output/*
plugins/aem/edge-delivery-services/skills/generate-pptx/output/*
plugins/aem/edge-delivery-services/skills/generate-pptx/scripts/*